div 
    h1.text-center Hola Mundo...
    h1(class="text-center") Estoy aqui en Nodejs
    //- h1#title Autenticado?
    //- h2=autenticado

    if autenticado 
        p Usuario autenticado
    else 
        p Inicio de Sesion