extends ../layout/admin
block styles


block contenido
    div.py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienes 
            span.font-normal Raices
        h2.text-center.text-4xl.font-extrabold= page 

        h3= id

        div(class="bg-white shadow py-8 px-4 mx-auto rounded my-10 max-w-4xl md:px-12")
            form.space-y-8(method= "post" action = "/propiedad/guardar" 
            class="dropzone border-dashed border-2 w-full ,in:h-96 h-auto rounded flex-col justify-center items-center")
                input(type="hidden" name="_csrf" value= csrfToken)
                
        

            input(type="submit" class="w-full py-3 bg-indigo-600 hover:bg-indigo-800 rounded text-white font-bold uppercase cursor-pointer" value="Publicar")


block scripts
    script(src="/js/addImage.js")